<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
      <div class="container">
        <div class="jumbotron text-center">
            <h1>Welcome To My Pinterest Clone</h1>
            <h2><p>Login with <i class="fa fa-twitter" aria-hidden="true"></i> and then search for images to add to your wall.</p></h2>
            <h3><span class="fa fa-lock"></span> Login or Register with:</h3>
            <a href="/auth/twitter"><img src="http://www.niftybuttons.com/ChrisWallace_Large/twitter.png " title="(Morty Buckles Twitter) " border="0 " style="margin:1px; "></a>
<!--            <a href="/auth/facebook"><img src="http://www.niftybuttons.com/ChrisWallace_Large/facebook.png " title="(Morty Buckles Facebook) " border="0 " style="margin:1px;"></a>-->
        </div>
            <hr>
        </div>
        <div class="container text-center">
          <div id="info"></div>
          <div class="grid" style="position: relative; height: 184px;">
            <div class="grid-sizer"></div>
          </div>
        </div>
      </div>
      <footer>
      <script>
      var allPins = <%- JSON.stringify(allpins) %>;
      console.log(allPins);
      for(var i = 0; i < allPins.length; i++){
            var htmlCards = '<div class="grid-item"><div class="card">';
            htmlCards += '<div class="img-wrapper"><img src="'+allPins[i].thumbnail+'" class="img-responsive img-rounded" onerror="imgError(this);"><div class="text-bottom">' +allPins[i].name+'</div></div>';
            $('.grid').append(htmlCards);
          }
      if(allPins.length == 0){
        $('#info').append("You have no pins!")
      }
      setTimeout(function(){
      $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        percentPosition: true
      });
      }, 200);
      function imgError(image) {
            image.onerror = "";
            image.src = "http://www.avsforum.com/photopost/data/2277869/9/9f/9f50538d_test.jpeg";
            return true;
        }
        </script>
      </footer>
 </body>
</html>
